@import 'tailwindcss';

*{
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
            "slnt" 0;
}

.cairo{
    font-family: 'Cairo', cursive !important;
}

.edu-font{
    font-family: "Edu NSW ACT Cursive", cursive !important;
    font-optical-sizing: auto;
}


@theme {
    --color-primary-blue: #000000;
}


@layer components {
    .wave{
        @apply rotate-270
        absolute left-0 top-0 w-auto h-dvh
        select-none
        translate-x-[-50%] z-[-1];
    }

    .login-input-container{
        @apply flex flex-col gap-1 mt-4 items-start;
    }

    .login-input-container .input-name{
        @apply text-xl font-black text-gray-600 pl-1;
    }
    .login-input-container .input-field{
    @apply outline-none border border-b-black rounded-md
    w-6/12 px-2 pt-3 pb-1 text-xl;
    }

}

