@import 'tailwindcss';

*{
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
            "slnt" 0;
}

*:not(input,p){
    @apply select-none;
}

body{
    touch-action: pan-y;
}

.cairo{
    font-family: 'Cairo', cursive !important;
}

.edu-font{
    font-family: "Edu NSW ACT Cursive", cursive !important;
    font-optical-sizing: auto;
}


@theme {
    --color-primary-blue: #000000;
    --color-gray-bg: #2a2b2d;
    --color-gray-bg-dark: #222325;
    --color-text-dark: #023047;
    --color-trans-white: rgba(255, 255, 255, 0.3);
}

@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Edge */
    }
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and older Edge */
        scrollbar-width: none;     /* Firefox */
    }
}


@layer components {

    /*Task Container Loaded In*/
    .T-C-loadedIn {
        @apply w-[95%] mx-auto h-[95%] border-t border-t-gray-300
        overflow-x-hidden overflow-y-scroll
        flex flex-col gap-2 items-start
        xl:p-8
        max-sm:pt-2
        sm:pt-2
        ;
    }

    .check-box-1 {
        @apply w-6 h-6 rounded-md bg-transparent
        border-green-300 border select-none
        transition duration-250 ease-in-out
        p-[2px] cursor-pointer mt-1
        xl:w-6 xl:h-6
        max-sm:w-5 max-sm:h-5 sm:w-5 sm:h-5
        ;

    }

    .C-H-o-Component{
        @apply flex flex-col w-full h-[85%] gap-4;
    }

    .C-Add-task{
        @apply flex flex-col w-full h-[90%] justify-start
        gap-4;
    }

    .H-o-Component{
        @apply flex flex-row items-center justify-between gap-4
        mx-auto
        xl:w-[90%]
        max-sm:w-[95%] sm:w-[95%]
        ;
    }

    .l-H-o-Component{
        @apply flex flex-row items-center
        xl:w-[90%] xl:gap-4
        justify-start
        max-sm:w-[80%] sm:w-[80%]
        max-sm:gap-2 sm:gap-2
        ;
    }

    .l-H-o-Component img{
        @apply xl:w-12
        max-sm:w-7 sm:w-7;
    }

    .l-H-o-Component h1{
        @apply font-semibold text-gray-300
        xl:text-5xl
        max-sm:text-3xl sm:text-3xl
        ;
    }

    .r-H-o-Component{
        @apply select-none
        xl:text-3xl xl:w-[10%]
        max-sm:text-lg sm:text-lg
        max-sm:w-[20%] sm:w-[20%]
    }

    .TC-buttons-container{
        @apply flex flex-row gap-4
        xl:w-fit
        max-sm:w-full sm:w-full
        max-sm:justify-end sm:justify-end

    }


    .wave{
        @apply rotate-270
        absolute left-50 top-0 h-dvh
        select-none bg-cover w-dvw
        translate-x-[-25%] z-[-1]
        lg:block
        max-sm:hidden sm:hidden
        ;
    }

    .login-input-container{
        @apply flex flex-col gap-1 mt-4 items-start;
    }

    .login-input-container .input-name{
        @apply text-xl font-black text-gray-600 pl-1;
    }
    .login-input-container .input-field{
        @apply outline-none border-3 border-gray-300 rounded-md
            transition duration-250 ease-in-out
            focus:border-gray-600 px-2 pt-3 pb-1 lg:text-xl
            lg:w-6/12
            max-sm:text-lg sm:text-lg max-sm:w-12/12 sm:w-12/12;
    }

    .signIn-button{
        @apply py-2 font-black text-white
            text-xl flex items-center justify-center bg-black
            rounded-md my-4 hover:bg-gray-700 transition ease-in-out duration-300
            cursor-pointer select-none
            lg:w-6/12
            max-sm:w-12/12 sm:w-12/12;
    }
    .task-nav-bar{
        @apply flex flex-row text-gray-300 px-2
            items-center font-bold select-none hover:opacity-70
            hover:bg-gray-bg-dark rounded-md
            cursor-pointer w-11/12 transition duration-350 ease-in-out py-4
            xl:text-xl xl:gap-5
            max-sm:text-lg sm:text-lg max-sm:gap-4 sm:gap-4
        ;
    }

    .buttons{
        @apply py-2 px-5 border border-gray-300 rounded-lg
        font-bold  cursor-pointer transition duration-250 select-none
        hover:bg-gray-300 hover:text-gray-bg-dark
        xl:text-lg
        max-sm:text-sm sm:text-sm
        ;
    }

    .danger-buttons{
        @apply py-2 px-5 border border-red-800 rounded-lg w-fit text-red-800
        font-bold cursor-pointer transition duration-250 select-none
        hover:bg-red-800 hover:text-gray-300
        xl:text-lg
        max-sm:text-sm sm:text-sm;
    }

    .add-remove-buttons-container{
        @apply flex h-fit items-center justify-between
        p-2
        xl:w-11/12
        max-sm:w-12/12 sm:w-12/12;

    }

    .task-nav-bar:first-child img{
        @apply w-10;
    }
    .task-nav-bar img{
        @apply xl:w-6
        max-sm:w-5 sm:w-5
        ;
    }

    .task-img{
        @apply border-gray-300 border p-2
        transition duration-250 ease-in-out select-none
        rounded-md cursor-pointer hover:bg-trans-white
        flex
        xl:w-10
        max-sm:w-8 sm:w-8
        ;
    }
    .visible-container{
        @apply flex!;
    }
    .active-task-img{
        @apply border-green-400!;
    }
    .active-flag-img{
        @apply border-green-400!;
    }

    .custom-task-button{
        @apply flex flex-row gap-5 text-gray-300 px-2
        items-center text-xl font-bold select-none hover:opacity-70
        hover:bg-gray-bg-dark rounded-md
        cursor-pointer w-11/12 transition duration-350 ease-in-out
        py-4;
    }

    .right-component-style{
        @apply h-dvh bg-gray-bg-dark
         overflow-x-hidden overflow-y-scroll
        text-gray-300 flex items-start flex-col justify-between
        xl:w-[calc(100%-24rem)] xl:pt-20 xl:pl-8 xl:gap-12
        max-sm:w-dvw max-sm:pt-15 max-sm:pl-2 max-sm:gap-6
        sm:w-dvw sm:pt-15 sm:pl-2 sm:gap-6
        ;
    }

    .addTaskButton{
        @apply py-2 px-5 border border-green-400 rounded-lg w-fit
        font-bold cursor-pointer transition duration-250 select-none
        hover:bg-green-400 hover:text-gray-300
        xl:text-lg
        max-sm:text-sm sm:text-sm;
    }

    .cancelTaskButton{
        @apply py-2 px-5 border border-red-800 rounded-lg w-fit
        font-bold cursor-pointer transition duration-250 select-none
        hover:bg-red-800 hover:text-gray-300
        xl:text-lg
        max-sm:text-sm sm:text-sm;
    }

    .addTaskToTasksContainer{
        @apply py-16 px-12 bg-gray-bg rounded-md
        text-gray-300 flex flex-col gap-8  m-8
        xl:w-fit
        max-sm:w-11/12 sm:w-11/12 max-sm:py-8 sm:py-8 max-sm:px-6 sm:px-6;
    }

    .addTaskToTasksContainer .enterTaskNameContainer{
        @apply flex flex-row items-center
        xl:gap-10
        max-sm:gap-5 sm:gap-5;
    }

    .addTaskToTasksContainer .enterTaskNameContainer .taskTitle{
        @apply
        xl:text-xl xl:font-light
        max-sm:text-lg sm:text-lg max-sm:font-medium sm:font-medium
    }

    .addTaskToTasksContainer .enterTaskNameContainer .taskInputField{
        @apply border border-gray-300 rounded-md w-[35rem]
        p-2 outline-none
        xl:text-xl
        max-sm:text-lg sm:text-lg;
    }

    .addTaskToTasksContainer .enterTaskPriorityContainer{
        @apply flex flex-row items-center
        xl:gap-13
        max-sm:gap-5 sm:gap-5;
    }

    .addTaskToTasksContainer .enterTaskPriorityContainer .priorityTitle{
        @apply
        xl:font-light xl:text-xl
        max-sm:text-lg sm:text-lg max-sm:font-medium sm:font-medium;
    }


    /*  This is Task Component Styles  */

    /* Task Component default   */

    .flag-img-TC{
        @apply w-4 h-fit p-1 box-content mt-[3px];
    }

    .input-field-TC{
        @apply  outline-none h-auto
        xl:text-xl xl:w-[calc(85%-4rem)]
        max-sm:w-11/12 sm:w-11/12
        max-sm:text-lg sm:text-lg;
    }

    .input-field-TC2{
        @apply  outline-none h-auto
        xl:text-xl xl:w-[calc(85%-4rem)]
        max-sm:w-11/12 sm:w-11/12
        max-sm:text-lg sm:text-lg;
    }

    .text-TC{
        @apply text-xl  h-auto
        xl:text-xl xl:w-[calc(85%-4rem)]
        max-sm:w-11/12 sm:w-11/12
        max-sm:text-lg sm:text-lg;
    }

    .text-TC2{
        @apply text-xl  h-auto
        xl:text-xl xl:w-[calc(85%-4rem)]
        max-sm:w-10/12 sm:w-10/12
        max-sm:text-lg sm:text-lg;
    }

    .left-side-TC{
        @apply flex flex-row gap-4
        xl:w-8/12
        max-sm:w-11/12 sm:w-11/12
        ;
    }

    .left-side-TC2{
        @apply flex flex-row
        xl:w-8/12 xl:gap-4
        max-sm:gap-2 sm:gap-2
        max-sm:w-12/12 sm:w-12/12
        ;
    }

    .container-of-TC-container{
        @apply w-[98%] h-[80%] border border-gray-300 rounded-md
        overflow-x-hidden overflow-y-scroll
        flex flex-col gap-2 items-start
        xl:p-8
        max-sm:p-2 sm:p-2
        ;
    }

    .sign-out-container{
        @apply h-fit pb-8 bg-white rounded-md overflow-hidden
        relative flex flex-col items-center
        xl:w-6/12
        max-sm:w-11/12 sm:w-11/12;
    }
    .sign-out-container .warning-container {
        @apply flex items-center justify-center w-full py-4 h-fit bg-red-800;
    }

    .sign-out-container .text-warning{
        @apply text-text-dark my-8 font-medium
        xl:text-2xl xl:px-9
        max-sm:text-lg sm:text-lg
        max-sm:space-y-1 sm:space-y-1
        max-sm:m-2 sm:m-2
        ;
    }
    .sign-out-container input{
        @apply w-8/12 outline-none border-3 border-black rounded-md p-2
         text-center
        xl:text-5xl
        max-sm:text-3xl sm:text-3xl
        max-sm:mt-2 sm:mt-2
        ;
    }

    .sign-out-container .sign-out-button{
        @apply w-8/12 border-red-800 border-4
        mt-4 text-red-800 rounded-md font-black flex items-center justify-center
        cursor-pointer transition duration-350 ease-out select-none hover:bg-red-800 hover:text-white
        xl:text-4xl xl:py-4
        max-sm:text-3xl sm:text-3xl
        max-sm:py-2 sm:py-2;
    }

    .done-edit-buttons-TC{
        @apply h-fit p-2 box-content border border-green-400 rounded-sm
        transition duration-250 ease-in-out select-none
        cursor-pointer hover:bg-green-400
        xl:w-4
        max-sm:w-3 sm:w-3;
    }

    .CD-btns-TC{
        @apply w-4 h-fit p-2 box-content border border-red-800 rounded-sm
        transition duration-250 ease-in-out select-none
        cursor-pointer hover:bg-red-800
        xl:w-4
        max-sm:w-3 sm:w-3;
    }

    .TC-container{
        @apply flex  items-start justify-between text-xl  h-fit flex-wrap
        break-words relative  rounded-md
        xl:flex-row xl:w-11/12
        xl:p-3 xl:gap-4
        max-sm:gap-2 sm:gap-2
        max-sm:p-0 sm:p-0
        max-sm:w-12/12 sm:w-12/12
        max-sm:flex-col sm:flex-col;
    }


}

