@import 'tailwindcss';

*{
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
            "slnt" 0;
}

.cairo{
    font-family: 'Cairo', cursive !important;
}

.edu-font{
    font-family: "Edu NSW ACT Cursive", cursive !important;
    font-optical-sizing: auto;
}


@theme {
    --color-primary-blue: #000000;
    --color-gray-bg: #2a2b2d;
    --color-gray-bg-dark: #222325;
    --color-trans-white: rgba(255, 255, 255, 0.3);
}

@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Edge */
    }
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and older Edge */
        scrollbar-width: none;     /* Firefox */
    }
}


@layer components {
    .wave{
        @apply rotate-270
        absolute left-0 top-0 w-auto h-dvh
        select-none
        translate-x-[-50%] z-[-1];
    }

    .login-input-container{
        @apply flex flex-col gap-1 mt-4 items-start;
    }

    .login-input-container .input-name{
        @apply text-xl font-black text-gray-600 pl-1;
    }
    .login-input-container .input-field{
        @apply outline-none border-3 border-gray-300 rounded-md
            transition duration-250 ease-in-out
            focus:border-gray-600
        w-6/12 px-2 pt-3 pb-1 text-xl;
    }
    .task-nav-bar{
        @apply flex flex-row gap-5 text-gray-300 px-2
            items-center text-xl font-bold select-none hover:opacity-70
            hover:bg-gray-bg-dark rounded-md
            cursor-pointer w-11/12 transition duration-350 ease-in-out
            py-4;
    }
    .task-nav-bar:first-child img{
        @apply w-10;
    }
    .task-nav-bar img{
        @apply w-6;
    }

    .task-img{
        @apply w-10 border-gray-300 border p-2
        transition duration-250 ease-in-out
        rounded-md cursor-pointer hover:bg-trans-white;
    }
    .active-task-img{
        @apply border-green-400!;
    }
    .active-flag-img{
        @apply border-green-400!;
    }

    .custom-task-button{
        @apply flex flex-row gap-5 text-gray-300 px-2
        items-center text-xl font-bold select-none hover:opacity-70
        hover:bg-gray-bg-dark rounded-md
        cursor-pointer w-11/12 transition duration-350 ease-in-out
        py-4;
    }

    .right-component-style{
        @apply h-dvh pt-20 pl-8 bg-gray-bg-dark
        w-[calc(100%-24rem)]
        text-gray-300 flex items-start flex-col gap-12;
    }


}

