@import 'tailwindcss';

*{
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
}

@theme {
    --color-primary-blue: #000000;
}


@layer components {
    .login-input-container{
        @apply flex flex-col gap-1 mt-4 items-start;
    }

    .login-input-container .input-name{
        @apply text-xl font-black text-gray-500 pl-1;
    }
    .login-input-container .input-field{
    @apply outline-none border border-b-black rounded-md
    w-6/12 px-2 pt-3 pb-1 text-xl;
    }

}

